// Stats section
#{$baseClass}__stats {
    text-align:center;

    // Statistics info
    &-info {
        margin-bottom:40px;
    }

    // Statistics boxes
    &-box {
        // Small+: Have them side-by-side
        @media #{mq(min-small)} {
            display:inline-block;
            vertical-align:middle;

            margin-left:50px;
            margin-right:50px;
        }

        &-number,
        &-caption {
            display:block;
        }

        &-number {
            font-size:5rem;
        }

        &-caption {
            font-style:italic;
        }
    }
}
