.block {
    display:block;
}

.inline-block {
    display:inline-block;
    vertical-align:top;
}

.reset-list {
    list-style:none;
    padding:0;
    margin:0;
}

.horizontal-list {
    @extend .reset-list;
    
    & > li {
        @extend .inline-block;
    }
}
